target/
**/target/
Dockerfile
.dockerignore
.git/
.gitignore
.github/
.vscode/
.atl/
*.md
.DS_Store
*.swp
*.swo
*~
artifacts/
deploy/
dist/*
!dist/superbank
!dist/superbank-rpc
docker-compose.yaml
scripts/
superbank.yaml
.env
.env.*
credentials.json
clickhouse.sh
